<!DOCTYPE html>

<head>
	<h1 style="font-size:50px; color:#62bbe1; text-align:left; padding:0 0 0 0; margin:120 0 50 0;">GAME SHOP
	<a align="center" href='{{ url_for('home')}}' style="font-size:25px; color:#6495ED;">На главную</a>
	{%if not reg %}
	<a href='{{ url_for('registration')}}' style="font-size:25px; color:#6495ED;">Ещё не зарегестрированы?</a>
	{% endif %}
	<p style="font-size:25px; color:#4d9ed5; text-align:left; padding:0 0 0 0; margin:0 0 0 0;">Это современный игровой маркетплейс. Здесь вы найдёте всё. От шутеров от первого лица, до детских развивающих игр.
	</p>
	</h1>	
</head>

<body style="background:#00FA9A; background-image:url(static/1.png);">
	{%if not reg %}
    <form method="post">
	
		<h2 style="font-size:30px; color:#4d9ed5; text-align:center;">Мы рады снова видеть вас!</h2>
	
        <center> <h3 style="font-size:25px; color:#4d9ed5; text-align:center;">Введите логин</h3>
		
        <center> <input size="50" type="text" name="login">
		
        <center><h3 style="font-size:25px; color:#4d9ed5; text-align:center;">Введите пароль</h3>
		
        <center><input size="50" type="password" name="password">
		
        <center><button type="submit" class="btn btn-primary">Войти</button>
    </form>
	{% endif %}
    {%if reg %}
    <center> <h1 style="color:#62bbe1;">Вы вошли в систему!</h1>
    {% endif %}
</body>
</html>