<!DOCTYPE html>

<head>
	<h1 style="font-size:50px; color:#62bbe1; text-align:left; padding:0 0 0 0; margin:120 0 30 0;">GAME SHOP
	
	<a href='{{ url_for('registration')}}' style="font-size:25px; color:#6495ED;">Регистрация</a>
	
	<a href='{{ url_for('entrance')}}' style="font-size:25px; color:#6495ED;">Вход</a>
	
	<p style="font-size:25px; color:#4d9ed5; text-align:left; padding:0 0 0 0; margin:0 0 0 0;">Это современный игровой маркетплейс. Здесь вы найдёте всё. От шутеров от первого лица, до детских развивающих игр.
	</p
	
	</h1>
	
</head>

<body style="background:#00FA9A; background-image:url(static/1.png);">

	<h1 style="font-size:40px; color:#4d9ed5; text-align:center; padding:150 0 150 0; margin:0 0 0 0;">Новинки сезона!!!
	</h1>
	
	<img src="static/hor.jpg" width="580px" height="350"; hspace="20px"; vspace="20px"; style="border:2px solid white; ">
	<img src="static/for.jpg" width="580px" height="350"; hspace="20px"; vspace="20px"; style="border:2px solid white; ">
	<img src="static/bio.jpg" width="580px" height="350"; hspace="20px"; vspace="20px"; style="border:2px solid white; ">

	
	<h1 style="font-size:40px; color:#4d9ed5; text-align:center; padding:150 0 150 0; margin:0 0 0 0;">Эти и другие игры по лучшим ценам только в GAME SHOP!
	
	</h1>
	
	<center> <a href='{{ url_for('offers')}}' style="font-size:35px; color:#2c64cc;">ПОЛНЫЙ КАТАЛОГ ИГР!</a>
	
</body>
</html>